@media (max-width:930px) {
#pconly {
	display:none;
}
#main {
	margin-top: 70px!important;
}
footer {
	margin-left: 10px!important;
}
* {
	overflow-x:hidden;
	
}
}

@media (min-width:930px) {
#pconly {
	display:block;
}
#main, footer {
	margin-left: 350px!important;
}

}
